In [1]:
import pandas as pd
import dolphindb as ddb
from config import *

# 创建 DolphinDB 会话
s = ddb.session()
s.connect(DB_IP, DB_PORT, DB_USER, DB_PASSWORD)
# 定义查询语句
query = """
select * from loadTable('dfs://ticks', 'future_ticks') where time = 2010.06.11
"""

# 执行查询并将结果转换为 pandas DataFrame
df = s.run(query)

In [2]:
df

,time,current,high,low,volume,money,a1_v,a1_p,b1_v,b1_p,contract,symbol
0,2010-06-11 07:42:43.000,14515.0,14515.0,14515.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,AL1009.XSGE,AL
1,2010-06-11 08:59:00.000,14630.0,14630.0,14515.0,46.0,3.364900e+06,9.0,14640.0,5.0,14630.0,AL1009.XSGE,AL
2,2010-06-11 09:00:00.000,14640.0,14640.0,14515.0,52.0,3.804100e+06,7.0,14640.0,7.0,14630.0,AL1009.XSGE,AL
3,2010-06-11 09:00:01.000,14630.0,14640.0,14515.0,82.0,5.999900e+06,22.0,14645.0,9.0,14630.0,AL1009.XSGE,AL
4,2010-06-11 09:00:01.500,14640.0,14640.0,14515.0,90.0,6.585500e+06,22.0,14645.0,1.0,14640.0,AL1009.XSGE,AL
...,...,...,...,...,...,...,...,...,...,...,...,...
15239,2010-06-11 14:59:57.000,14690.0,14695.0,14515.0,66004.0,4.832610e+09,16.0,14690.0,1.0,14685.0,AL1009.XSGE,AL
15240,2010-06-11 14:59:57.500,14690.0,14695.0,14515.0,66014.0,4.833344e+09,11.0,14690.0,1.0,14685.0,AL1009.XSGE,AL
15241,2010-06-11 14:59:58.000,14685.0,14695.0,14515.0,66018.0,4.833638e+09,4.0,14685.0,40.0,14675.0,AL1009.XSGE,AL
15242,2010-06-11 14:59:59.000,14685.0,14695.0,14515.0,66022.0,4.833932e+09,2.0,14685.0,40.0,14675.0,AL1009.XSGE,AL
15243,2010-06-11 15:00:00.000,14685.0,14695.0,14515.0,66022.0,4.833932e+09,2.0,14685.0,40.0,14675.0,AL1009.XSGE,AL